body {
    background-image: url(../img/sea.jpg);
    background-color: paleturquoise;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bird {
    background-image: url(../img/bird.svg);
    height: 400px;
    width: 500px;
    position: absolute;
    top: 500px;
    left: 300px;
    background-repeat: no-repeat;
    animation: birdanimation 5s infinite alternate;
}
.boat {
    background-image: url(../img/boat.svg);
    height: 300px;
    width: 500px;
    position: absolute;
    top: 700px;
    left: 100px;
    background-repeat: no-repeat;
    animation: boatanimation 5s infinite alternate;
}
/* keyframes */
@keyframes birdanimation {
    0% {top: 30px;}
    25% {top: 10px;} 
    50% {top: 40px;}
    75% {top: 20px;}
    100% {top: 50px;}
}
@keyframes boatanimation {
    0% {top: 430px;}
    25% {top: 410px;} 
    50% {top: 440px;}
    75% {top: 420px;}
    100% {top: 450px;}
}